.course h1 {
  margin-bottom: 1.5em;
}

.courseCard {
  padding: 1.5em;
  background-color: var(--color-white);
  box-shadow: 2px 0px 8px 0px var(--color-card-shadow);
  border-radius: 0.3125em;
  border: 1px solid var(--color-black-border);
}

@media (min-width: 37.5em) {
  .courseCard {
    padding: 2em;
  }
}

@media (min-width: 60em) {
  .courseCard {
    display: flex;
  }
}

.courseCard h2 {
  font-size: 1.17em;
  margin-top: 0;
}

.courseCard p {
  margin: 0;
}

@media (min-width: 60em) {
  .courseHeader {
    width: calc(100% / 2);
    margin-right: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid var(--color-goose-gray);
  }
}

.courseDetails {
  padding-top: 2em;
}

@media (min-width: 60em) {
  .courseDetails {
    width: calc(100% / 2);
    padding-top: 3em;
  }
}

.courseList .listItem:not(:first-child) {
  margin-top: 1em;
}

.courseList .listItem:last-child .itemDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listItem {
  display: flex;
}

.itemHeader {
  width: calc(100% / 3);
  font-weight: 700;
  margin-right: 1em;
}

@media (min-width: 37.5em) {
  .itemHeader {
    font-size: 1.25em;
    margin-right: 0;
  }
}

.itemDescription {
  width: calc(100% / 1.5);
}

.itemDescription span:first-child {
  font-weight: 700;
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
}
