.iconButton {
  border: none;
  background: none;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconButtonHasBackground {
  background-color: var(--color-primary-blue);
  padding: 0.5em 1em;
  border-radius: 0.3125em;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.iconButtonHasBackground:hover {
  background-color: var(--color-primary-blue-hover);
}
