.card {
  display: flex;
  padding: 32px;
  background-color: var(--color-white);
  box-shadow: 2px 0px 8px 0px var(--color-card-shadow);
  border-radius: 5px;
  border: 1px solid var(--color-black-border);
  border-left: 6px solid var(--color-charcoal-gray);
}

.card h3 {
  margin-bottom: 10px;
}

.card button {
  margin-top: 32px;
}

.left {
  width: 66.66%;
  margin-right: 48px;
}

.right {
  width: 33.33%;
}

.rightList p:not(:first-child) {
  margin-top: 5px;
}

.cardAuthors {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
