.emptyCourseList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.emptyCourseList p {
  margin-top: 24px;
}

.emptyCourseList button {
  margin-top: 32px;
}
