.container {
  box-sizing: border-box;
  margin: 0em auto;
  padding: 0em 1em;
}

@media (min-width: 37.5em) {
  .container {
    padding: 0em 1.5em;
    max-width: 37.5em;
  }
}

@media (min-width: 60em) {
  .container {
    max-width: 60em;
  }
}

@media (min-width: 80em) {
  .container {
    max-width: 80em;
  }
}

@media (min-width: 73.125em) {
  .container {
    max-width: 73.125em;
  }
}
