.courseWrapper h1 {
  font-weight: 700;
  margin-bottom: 24px;
}

.course {
  display: flex;
  padding: 32px;
  background-color: var(--color-white);
  box-shadow: 2px 0px 8px 0px var(--color-card-shadow);
  border-radius: 5px;
  border: 1px solid var(--color-black-border);
}

.course h3 {
  font-weight: 700;
  margin-bottom: 24px;
}

.courseHeader {
  width: 50%;
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--color-goose-gray);
}

.courseDetails {
  width: 50%;
  padding-top: 48px;
}

.courseList .listItem:not(:first-child) {
  margin-top: 16px;
}

.courseList .listItem:last-child .itemDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listItem {
  display: flex;
}

.itemHeader {
  width: 33.33%;
  font-weight: 700;
  font-size: 20px;
}

.itemDescription {
  width: 66.66%;
}

.itemDescription span:first-child {
  font-weight: 700;
}

.buttonContainer button {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}
