.coursesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.coursesList {
  display: flex;
  flex-direction: column;
}

.coursesList li:not(:first-child) {
  margin-top: 32px;
}
