.coursesHeader {
  margin-bottom: 2em;
}

.coursesHeaderButton {
  margin-top: 1.5em;
}

@media (min-width: 60em) {
  .coursesHeader {
    display: flex;
    justify-content: space-between;
  }
  .coursesHeaderButton {
    margin-top: 0em;
  }
}

.coursesList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0em;
  padding: 0em;
}

.coursesList li:not(:first-child) {
  margin-top: 2em;
}
