:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-blue: #007298;
  --color-primary-blue-hover: #005571;
  --color-wildsand: #f4f4f4;
  --color-nav-shadow: #00000026;
  --color-card-shadow: #00000040;
  --color-charcoal-gray: #333E48;
}
